## 1: Load and Understand the Dataset

### 1.1 Import Libraries and Load the Dataset

In [99]:
import numpy as np
import pandas as pd

In [100]:
df = pd.read_csv("Healthcare_dataset.csv")

In [101]:
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

### 1.2 Understanding Data and its Structure

In [102]:
df.shape

(55500, 15)

The dataset consists of 15 columns and 55.5K records.

In [103]:
df.columns

Index(['Name', 'Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date',
       'Medication', 'Test Results'],
      dtype='object')

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB

In [105]:
df.describe()

                Age  Billing Amount   Room Number
count  55500.000000    55500.000000  55500.000000
mean      51.539459    25539.316097    301.134829
std       19.602454    14211.454431    115.243069
min       13.000000    -2008.492140    101.000000
25%       35.000000    13241.224652    202.000000
50%       52.000000    25538.069376    302.000000
75%       68.000000    37820.508436    401.000000
max       89.000000    52764.276736    500.000000

 In the `Billing Amount` column, the **minimum value was negative**, indicating a potential data quality issue that required further investigation.
 
  In other numerical columns such as `Age`, the **minimum and maximum values were within an expected range**, from **13 to 89 years**, suggesting no immediate concerns in those fields.

In [21]:
df.describe(include='all')

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
count,55500,55500.000000,55500,55500,55500,55500,55500,55500,55500,55500.000000,55500.000000,55500,55500,55500,55500
unique,49992,NaN,2,8,6,1827,40341,39876,5,NaN,NaN,3,1856,5,3
top,DAvId muNoZ,NaN,Male,A-,Arthritis,2024-03-16,Michael Smith,LLC Smith,Cigna,NaN,NaN,Elective,2020-03-15,Lipitor,Abnormal
freq,3,NaN,27774,6969,9308,50,27,44,11249,NaN,NaN,18655,53,11140,18627
mean,NaN,51.539459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25539.316097,301.134829,NaN,NaN,NaN,NaN
std,NaN,19.602454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14211.454431,115.243069,NaN,NaN,NaN,NaN
min,NaN,13.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2008.492140,101.000000,NaN,NaN,NaN,NaN
25%,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13241.224652,202.000000,NaN,NaN,NaN,NaN
50%,NaN,52.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25538.069376,302.000000,NaN,NaN,NaN,NaN
75%,NaN,68.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37820.508436,401.000000,NaN,NaN,NaN,NaN
max,NaN,89.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52764.276736,500.000000,NaN,NaN,NaN,NaN

### 1.3 Checking for Missing Values

In [45]:
df.isnull().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

No null or missing values

### 1.4. Checking for Duplicates

In [46]:
df.duplicated().sum()

534

534 records are duplicates.

## 2. Data Preprocessing

### 2.1 Removing Duplicates

In [47]:
df.drop_duplicates(inplace=True)

In [48]:
df.duplicated().sum()

0

No duplicates

### 2.2 Date Column Manipulation & Creating "Length of Stay"

In [68]:
df['Date of Admission'] = pd.to_datetime(df['Date of Admission'])
df['Discharge Date'] = pd.to_datetime(df['Discharge Date'])

Converted the data type of Date columns to datetime for datetime calculation.

In [69]:
df['Length of Stay'] = (df['Discharge Date'] - df['Date of Admission']).dt.days

Calculated Length of Stay

In [60]:
df['Date of Admission'] = df['Date of Admission'].dt.strftime('%Y-%m-%d')
df['Discharge Date'] =df['Discharge Date'].dt.strftime('%Y-%m-%d')

Converted Date columns to string data type for further analysis in SQL

### Creating a copy of the dataframe

In [64]:
df1 = df.copy()

### 2.3 Standarising Text Column

In [66]:
df1['Name'] = df['Name'].str.title().str.strip()
df1['Gender'] = df['Gender'].str.capitalize().str.strip()
df1['Blood Type'] =  df['Blood Type'].str.upper().str.strip()
df1['Medical Condition'] = df['Medical Condition'].str.capitalize().str.strip()
df1['Doctor'] = df['Doctor'].str.title().str.strip()
df1['Hospital'] = df['Hospital'].str.capitalize().str.strip()
df1['Insurance Provider'] = df['Insurance Provider'].str.capitalize().str.strip()
df1['Admission Type'] = df['Admission Type'].str.capitalize().str.strip()
df1['Medication'] = df['Medication'].str.capitalize().str.strip()
df1['Test Results'] = df['Test Results'].str.capitalize().str.strip()

In [67]:
df1.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and miller,Blue cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal,2
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive,6
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook plc,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal,15
3,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez rogers and vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal,30
4,Adrienne Bell,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-white,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal,20

### 2.4 Exploring "Billing Amount" Column

In [86]:
df1['Billing Amount'].describe()

count    54966.000000
mean     25544.306284
std      14208.409711
min      -2008.492140
25%      13243.718641
50%      25542.749145
75%      37819.858159
max      52764.276736
Name: Billing Amount, dtype: float64

In [87]:
negative_value = (df1['Billing Amount'] < 0).sum()

print(negative_value)

106

#### The `Billing Amount` column was explored using summary statistics and a count of negative values. A total of **106** negative billing records were identified out of approximately **55,500** entries.

**Record Inspection**  
   All records with negative billing amounts were reviewed any patterns or contextual explanations.

In [90]:
df1[df1['Billing Amount'] < 0].head(10)

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
132,Ashley Erickson,32,Female,AB-,Cancer,2019-11-05,Gerald Hooper,"And johnson moore, branch",Aetna,-502.507813,376,Urgent,2019-11-23,Penicillin,Normal,18
799,Christopher Weiss,49,Female,AB-,Asthma,2023-02-16,Kelly Thompson,Hunter-hughes,Aetna,-1018.245371,204,Elective,2023-03-09,Penicillin,Inconclusive,21
1018,Ashley Warner,60,Male,A+,Hypertension,2021-12-21,Andrea Bentley,"And wagner, lee klein",Aetna,-306.364925,426,Elective,2022-01-11,Ibuprofen,Normal,21
1421,Jay Galloway,74,Female,O+,Asthma,2021-01-20,Debra Everett,Group peters,Blue cross,-109.097122,381,Emergency,2021-02-09,Ibuprofen,Abnormal,20
2103,Joshua Williamson,72,Female,B-,Diabetes,2021-03-21,Wendy Ramos,"And huff reeves, dennis",Blue cross,-576.727907,369,Urgent,2021-04-17,Aspirin,Abnormal,27
2696,Scott Vazquez,74,Male,B+,Diabetes,2023-04-12,Edward Yates,James ltd,Medicare,-135.986000,445,Elective,2023-05-03,Ibuprofen,Abnormal,21
2855,Carol Anderson,39,Female,B-,Hypertension,2020-04-03,Dr. Patrick Hines,"Carter carter, and patterson",Blue cross,-370.983674,203,Elective,2020-04-10,Ibuprofen,Abnormal,7
3772,Mr. Christopher Alvarado,77,Male,AB+,Obesity,2022-06-03,Mr. Dean Guzman Dds,Johnson inc,Blue cross,-1310.272895,257,Elective,2022-06-13,Paracetamol,Inconclusive,10
5445,Alexandra Khan,32,Male,AB+,Arthritis,2022-07-14,Michael Vaughn,"Bowen lopez, and terry",Aetna,-692.408820,372,Elective,2022-07-19,Lipitor,Abnormal,5
5708,Joseph Cox,23,Male,AB-,Diabetes,2019-10-13,Peter Smith,Inc ward,Blue cross,-353.865186,271,Elective,2019-10-25,Lipitor,Inconclusive,12

**Grouping for Pattern Detection**  
   Grouping negative values of "Billing Amount" by relevant columns

In [91]:
df1[df1['Billing Amount'] < 0].groupby('Admission Type').size()

Admission Type
Elective     36
Emergency    32
Urgent       38
dtype: int64

In [92]:
df1[df1['Billing Amount'] < 0].groupby('Insurance Provider').size()

Insurance Provider
Aetna               27
Blue cross          15
Cigna               24
Medicare            21
Unitedhealthcare    19
dtype: int64

In [93]:
df1[df1['Billing Amount'] < 0].groupby('Hospital').size()

Hospital
Aguilar inc                      1
And dennis, mcguire johnston     1
And huff reeves, dennis          1
And johnson moore, branch        1
And rosales, macdonald hanson    1
                                ..
Walters plc                      1
Warner-watts                     1
Weiss-mills                      1
Williams ltd                     1
Wyatt murphy, and gonzales       1
Length: 96, dtype: int64

The negative billing records were grouped by various categorical features, including `Admission Type`, `Hospital`, and `Insurance Provider`. 
No consistent or conclusive pattern was observed across these variables.

#### Negative billing amounts are considered invalid in standard healthcare billing processes. 

#### Given the low frequency (0.19% of total data) and lack of identifiable justification, these records were excluded to ensure accuracy in financial analysis. 

#### A new DataFrame containing only records with billing amounts  0 was created.

In [106]:
cleaned_df = df1[df1['Billing Amount'] >=0]

## 3. Final Data Validation & Export

In [95]:
cleaned_df.describe()

                Age  Billing Amount   Room Number  Length of Stay
count  54860.000000    54860.000000  54860.000000    54860.000000
mean      51.533850    25594.633637    301.109752       15.498815
std       19.605295    14175.867041    115.217195        8.661357
min       13.000000        9.238787    101.000000        1.000000
25%       35.000000    13299.747940    202.000000        8.000000
50%       52.000000    25593.873000    302.000000       15.000000
75%       68.000000    37847.066671    400.000000       23.000000
max       89.000000    52764.276736    500.000000       30.000000

In [96]:
cleaned_df.shape

(54860, 16)

In [97]:
cleaned_df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Length of Stay
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and miller,Blue cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal,2
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive,6
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook plc,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal,15
3,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez rogers and vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal,30
4,Adrienne Bell,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-white,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal,20

Before exporting the cleaned dataset, several checks were performed to confirm that all data cleaning steps were successfully applied:

- **Numerical columns** such as `Age`, `Billing Amount`, and `Length of Stay` were reviewed using `.describe()`. Values were within expected ranges, showing no extreme outliers or inconsistencies.
- **Initial inspection** using `.head()` confirmed the correct formatting and structure of the dataset, including date formatting and column transformations.
- **Shape of the dataset** was verified using `.shape` to ensure no unintended row drops occurred during cleaning steps.
- The **minimum billing amount** is now positive, as only records with billing amounts greater than or equal to zero were retained during cleaning.

All checks indicate that the dataset is clean, consistent, and ready for to CSV for further analysis or SQL import.

### Exporting Cleaned Dataset

The cleaned dataset was exported to a CSV file named `cleaned_healthcare_data.csv
.

In [109]:
cleaned_df.to_csv('cleaned_healthcare_data.csv', index=False)